* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

h1 {
    text-align: center;
}

section {
    text-align: center;
}

.title {
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 4px;
}

button {
    background-color: rgb(65, 187, 65);
}

.log-in {
    padding: 20px;
}

.secret-content {
    display: none;
    text-align: center;
}

.admin {
    display: none;
}

table {
    font-size: 25px;
    display: none;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 55vh;
    padding: 10px;
}

td {
    border: 1px solid black;
    background-color: pink;
    padding: 10px;

}

th {
    border: 1px solid black;
    background-color: rgb(219, 106, 125);
    padding: 10px;

}