* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

section {
    text-align: center;
}

.title {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 4px;
}

button {
    background-color: rgb(65, 187, 65);
}

.log-in {
    padding: 20px;
}

.secret-content {
    display: none;
    text-align: center;
}